.box_container {
    margin: 0 42px;

    .box_title {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 20px;

        p {
            color: #3582CD;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .under {
            width: 50px;
            height: 3px;
            background: #F39623;
        }
    }
}

@media (max-width: 1023px) {
    .box_container {
        margin: 0 25px;
    }
}

@media (max-width: 768px) {
    .box_container {
        margin: 0 12px;
    }
}