.right-container {
    position: relative;
    width: 80%;

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 50%;
    }

    @media (max-width: 767px) {
        width: 100%;
        display: none;
    }
}

.chat-introduction {
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
}

.chat-introduction-img {
    width: 568px;
    height: 336px;
}

.chat-introduction-title {
    padding: 18px 20px;
    background-color: white;
    border-radius: 12px;
}

.chat-heading {
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: white;
    position: sticky;
    right: 0;
    top: 0;
    right: 0;
    padding: 8px 12px;
    box-sizing: border-box;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.chat-name {
    font-weight: bold;
}

.chat {
    position: relative;
    background-color: #cccccc;
    height: 100%;
    box-sizing: border-box;
}

.chat-body {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    margin-bottom: 56px;
}

.message-item {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    gap: 6px;
    max-width: 70%;
    box-sizing: border-box;

    &:not(:first-child) {
        margin-top: 28px;
    }
}

.other-user {
    align-self: flex-start;

    .message-time {
        text-align: left;
    }

    .message-content {
        background-color: white;
    }
}

.message-time {
    text-align: right;
    margin-bottom: 6px;
}

.message-image {
    width: 300px;
    cursor: pointer;

    @media (max-width: 767px) {
        width: 100%;
    }
}

.message-content {
    background-color: #c1d9f0;
    padding: 12px;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    white-space: pre-line;
}

.chat-footer {
    display: flex;
    gap: 30px;
    padding: 12px;
    background-color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 80%;
    box-sizing: border-box;

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 50%;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}

.form-footer {
    width: 100%;
    display: flex;
    gap: 30px;
}

.message-input {
    width: 100%;
    margin-bottom: 0;
}
