#cv-main{
    background: url(main_01.png) no-repeat;
    background-size: 100% 100%;
}
#cv-top{		
	background: url(hd_01.png) no-repeat;
	background-size: 100% 100%;
}
.footer{
	background: url(ft_01.png) no-repeat;
	background-size: 100% 100%;
}
.fake{
    background: url(sao_01.png)no-repeat;
    background-size: 100% 100%;
}

.box-dm{
    background: url(a_01.png)no-repeat;
    background-size: 100% 100%;
}