.select2-container--default .select2-search--inline .select2-search__field {
	font-size: 12px;
	display: flex;
	align-items: center;
}

.select2-container--default .select2-selection--multiple {
	border: 1px solid #dad8d3;
}

.select2-container .select2-search--inline .select2-search__field {
	height: auto;
}
