@media (max-width: 767px) {
    .box_blog_2 {
        display: flex;
        width: 382px;
        padding: 20px 15px;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        box-sizing: border-box;

        border-radius: 12px;
        background: #FFF;

        .box_header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            align-self: stretch;

            >span {
                color: #203656;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 800;
                line-height: 150%;
            }
        }

        .box_blog_body {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .box_left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;

                .row_1 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    .image_item_1 {
                        width: 352px;
                        height: 190px;
                    }

                    .info {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        .author {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            .image_item_2 {
                                width: 32px;
                                height: 32px;
                                border-radius: 50px;
                            }

                            >span {
                                color: #8F9BAD;

                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }

                        .dot {
                            width: 3px;
                            height: 3px;
                            border-radius: 50px;
                            background: #FE4F70;
                        }

                        .time {
                            color: #8F9BAD;

                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }
                    }
                }

                .row_2 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    .title {
                        width: 352px;
                        color: #203656;

                        font-family: Roboto;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                    }

                    .content {
                        width: 352px;
                        color: #8F9BAD;
                        font-family: Roboto;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        -webkit-line-clamp: 3;
                    }
                }

            }

            .box_right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                align-self: stretch;

                .item_box {
                    cursor: pointer;
                    width: 352px;
                    height: 112px;
                    display: flex;
                    flex-direction: column;

                    .group_1 {
                        width: 352px;
                        height: 99px;
                        display: flex;
                        gap: 10px;

                        .image_item_3 {
                            width: 110px;
                            height: 89px;
                            border-radius: 12px;
                        }

                        .info_list {
                            display: flex;
                            width: 232px;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 3px;

                            .title {
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                -webkit-line-clamp: 2;
                                max-width: 232px;
                                color: #203656;

                                font-family: Roboto;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 150%;
                            }

                            .author {
                                width: 232px;
                                color: #203656;

                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }

                            .time {
                                width: 232px;
                                color: #8F9BAD;

                                font-family: Roboto;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }
                    }

                    .line {
                        width: 352px;
                        height: 2px;
                        flex-shrink: 0;
                        background: linear-gradient(270deg, #EBEBEB 0%, rgba(0, 0, 0, 0.00) 100%);

                    }
                }

            }
        }

        .button_see_all {
            display: flex;
            padding: 10px 40px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-sizing: border-box;
            outline: none;
            border: none;

            border-radius: 40px;
            background: #3582CD;

            color: #FFF;

            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .box_blog_2 {
        display: flex;
        width: 720px;
        padding: 20px 15px;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        box-sizing: border-box;

        border-radius: 12px;
        background: #FFF;

        .box_header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            align-self: stretch;

            >span {
                color: #203656;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 150%;
            }
        }

        .box_blog_body {
            display: flex;
            flex-direction: row;
            gap: 12px;

            .box_left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;

                .row_1 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    .image_item_1 {
                        width: 402px;
                        height: 218px;
                    }

                    .info {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        .author {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            .image_item_2 {
                                width: 32px;
                                height: 32px;
                                border-radius: 50px;
                            }

                            >span {
                                color: #8F9BAD;

                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }

                        .dot {
                            width: 3px;
                            height: 3px;
                            border-radius: 50px;
                            background: #FE4F70;
                        }

                        .time {
                            color: #8F9BAD;

                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }
                    }
                }

                .row_2 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    .title {
                        width: 402px;
                        color: #203656;

                        font-family: Roboto;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                    }

                    .content {
                        width: 402px;

                        color: #8F9BAD;

                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }

            }

            .box_right {
                display: flex;
                padding: 0px 12px;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                align-self: stretch;

                .item_box {
                    cursor: pointer;
                    width: 252px;
                    height: 112px;
                    display: flex;
                    flex-direction: column;

                    .group_1 {
                        width: 252px;
                        height: 112px;
                        display: flex;
                        gap: 10px;

                        .image_item_3 {
                            width: 110px;
                            height: 89px;
                            border-radius: 12px;
                        }

                        .info_list {
                            display: flex;
                            width: 147px;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 3px;

                            .title {
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                -webkit-line-clamp: 2;
                                max-width: 147px;
                                color: #203656;

                                font-family: Roboto;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 150%;
                            }

                            .author {
                                width: 147px;
                                color: #203656;

                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }

                            .time {
                                width: 147px;
                                color: #8F9BAD;

                                font-family: Roboto;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }
                    }

                    .line {
                        width: 250px;
                        height: 2px;
                        flex-shrink: 0;
                        background: linear-gradient(270deg, #EBEBEB 0%, rgba(0, 0, 0, 0.00) 100%);

                    }
                }

            }
        }

        .button_see_all {
            display: flex;
            padding: 10px 40px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-sizing: border-box;
            outline: none;
            border: none;

            border-radius: 40px;
            background: #3582CD;

            color: #FFF;

            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .box_blog_2 {
        display: flex;
        width: 976px;
        padding: 20px 15px;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        box-sizing: border-box;

        border-radius: 12px;
        background: #FFF;

        .box_header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            align-self: stretch;

            >span {
                color: #203656;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 150%;
            }
        }

        .box_blog_body {
            display: flex;
            flex-direction: row;
            gap: 12px;

            .box_left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;

                .row_1 {
                    display: flex;
                    height: 368px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    .image_item_1 {
                        width: 583px;
                        height: 328px;
                    }

                    .info {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        .author {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            .image_item_2 {
                                width: 32px;
                                height: 32px;
                                border-radius: 50px;
                            }

                            >span {
                                color: #8F9BAD;

                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }

                        .dot {
                            width: 3px;
                            height: 3px;
                            border-radius: 50px;
                            background: #FE4F70;
                        }

                        .time {
                            color: #8F9BAD;

                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }
                    }
                }

                .row_2 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    .title {
                        width: 583px;
                        color: #203656;

                        font-family: Roboto;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                    }

                    .content {
                        width: 583px;

                        color: #8F9BAD;

                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }

            }

            .box_right {
                display: flex;
                padding: 0px 12px;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                align-self: stretch;

                .item_box {
                    cursor: pointer;
                    width: 327px;
                    height: 112px;
                    display: flex;
                    gap: 30px;
                    flex-direction: column;

                    .group_1 {
                        width: 327px;
                        height: 112px;
                        display: flex;
                        gap: 20px;

                        .image_item_3 {
                            width: 110px;
                            height: 89px;
                            border-radius: 12px;
                        }

                        .info_list {
                            display: flex;
                            width: 197px;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 3px;

                            .title {
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                -webkit-line-clamp: 2;
                                max-width: 197px;
                                color: #203656;

                                font-family: Roboto;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 150%;
                            }

                            .author {
                                width: 197px;
                                color: #203656;

                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }

                            .time {
                                width: 197px;
                                color: #8F9BAD;

                                font-family: Roboto;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }
                    }

                    .line {
                        width: 326.97px;
                        height: 2px;
                        flex-shrink: 0;
                        background: linear-gradient(270deg, #EBEBEB 0%, rgba(0, 0, 0, 0.00) 100%);

                    }
                }

            }
        }

        .button_see_all {
            display: flex;
            padding: 10px 40px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-sizing: border-box;
            outline: none;
            border: none;

            border-radius: 40px;
            background: #3582CD;

            color: #FFF;

            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
        }
    }
}

@media (min-width: 1366px) and (max-width: 1919px) {
    .box_blog_2 {
        display: flex;
        width: 836px;
        padding: 20px 15px;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        box-sizing: border-box;

        border-radius: 12px;
        background: #FFF;

        .box_header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            align-self: stretch;

            >span {
                color: #203656;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 150%;
            }
        }

        .box_blog_body {
            display: flex;
            flex-direction: row;
            gap: 12px;

            .box_left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;

                .row_1 {
                    display: flex;
                    height: 306px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    .image_item_1 {
                        width: 443px;
                        height: 262px;
                    }

                    .info {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        .author {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            .image_item_2 {
                                width: 32px;
                                height: 32px;
                                border-radius: 50px;
                            }

                            >span {
                                color: #8F9BAD;

                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }

                        .dot {
                            width: 3px;
                            height: 3px;
                            border-radius: 50px;
                            background: #FE4F70;
                        }

                        .time {
                            color: #8F9BAD;

                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }
                    }
                }

                .row_2 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    .title {
                        width: 443px;
                        color: #203656;

                        font-family: Roboto;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                    }

                    .content {
                        width: 443px;

                        color: #8F9BAD;

                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }

            }

            .box_right {
                display: flex;
                padding: 0px 12px;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                align-self: stretch;

                .item_box {
                    cursor: pointer;
                    width: 327px;
                    height: 112px;
                    display: flex;
                    gap: 30px;
                    flex-direction: column;

                    .group_1 {
                        width: 327px;
                        height: 112px;
                        display: flex;
                        gap: 20px;

                        .image_item_3 {
                            width: 110px;
                            height: 89px;
                            border-radius: 12px;
                        }

                        .info_list {
                            display: flex;
                            width: 197px;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 3px;

                            .title {
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                -webkit-line-clamp: 2;
                                max-width: 197px;
                                color: #203656;

                                font-family: Roboto;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 150%;
                            }

                            .author {
                                width: 197px;
                                color: #203656;

                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }

                            .time {
                                width: 197px;
                                color: #8F9BAD;

                                font-family: Roboto;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }
                    }

                    .line {
                        width: 326.97px;
                        height: 2px;
                        flex-shrink: 0;
                        background: linear-gradient(270deg, #EBEBEB 0%, rgba(0, 0, 0, 0.00) 100%);

                    }
                }

            }
        }

        .button_see_all {
            display: flex;
            padding: 10px 40px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-sizing: border-box;
            outline: none;
            border: none;

            border-radius: 40px;
            background: #3582CD;

            color: #FFF;

            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
        }
    }
}

@media (min-width: 1920px) {
    .box_blog_2 {
        display: flex;
        width: 836px;
        padding: 20px 15px;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        box-sizing: border-box;

        border-radius: 12px;
        background: #FFF;

        .box_header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            align-self: stretch;

            >span {
                color: #203656;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 150%;
            }
        }

        .box_blog_body {
            display: flex;
            flex-direction: row;
            gap: 12px;

            .box_left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;

                .row_1 {
                    display: flex;
                    height: 306px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    .image_item_1 {
                        width: 443px;
                        height: 262px;
                    }

                    .info {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        .author {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            .image_item_2 {
                                width: 32px;
                                height: 32px;
                                border-radius: 50px;
                            }

                            >span {
                                color: #8F9BAD;

                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }

                        .dot {
                            width: 3px;
                            height: 3px;
                            border-radius: 50px;
                            background: #FE4F70;
                        }

                        .time {
                            color: #8F9BAD;

                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }
                    }
                }

                .row_2 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    .title {
                        width: 443px;
                        color: #203656;

                        font-family: Roboto;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                    }

                    .content {
                        width: 443px;

                        color: #8F9BAD;

                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }

            }

            .box_right {
                display: flex;
                padding: 0px 12px;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                align-self: stretch;

                .item_box {
                    cursor: pointer;
                    width: 327px;
                    height: 112px;
                    display: flex;
                    gap: 30px;
                    flex-direction: column;

                    .group_1 {
                        width: 327px;
                        height: 112px;
                        display: flex;
                        gap: 20px;

                        .image_item_3 {
                            width: 110px;
                            height: 89px;
                            border-radius: 12px;
                        }

                        .info_list {
                            display: flex;
                            width: 197px;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 3px;

                            .title {
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                -webkit-line-clamp: 2;
                                max-width: 197px;
                                color: #203656;

                                font-family: Roboto;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 150%;
                            }

                            .author {
                                width: 197px;
                                color: #203656;

                                font-family: Roboto;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }

                            .time {
                                width: 197px;
                                color: #8F9BAD;

                                font-family: Roboto;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }
                    }

                    .line {
                        width: 326.97px;
                        height: 2px;
                        flex-shrink: 0;
                        background: linear-gradient(270deg, #EBEBEB 0%, rgba(0, 0, 0, 0.00) 100%);

                    }
                }

            }
        }

        .button_see_all {
            display: flex;
            padding: 10px 40px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-sizing: border-box;
            outline: none;
            border: none;

            border-radius: 40px;
            background: #3582CD;

            color: #FFF;

            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
        }
    }
}