.wrapper_layout {
    background: #70ACE6;
    width: 100%;
    height: 100%;

    .wrapper_body {
        background-image: url("/images/authorization/bg-regis-1920.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 20px 20px 10px 20px;

        .wrapper_content {
            display: flex;
            border-radius: 20px;
            background: #E8F2FF;
            margin: 20px;
            height: 100%;

            .container_left {
                display: flex;
                padding: 40px 0px 36px 0px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 72px;
                align-self: stretch;
                width: 50%;
            }

            .container_right {
                display: flex;
                padding: 20px 16px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;
                flex: 1 0 0;
                border-radius: 20px;
                background: #FFF;

                .title_right {
                    text-align: center;
                    display: flex;
                    width: 590px;
                    height: 46px;
                    flex-direction: column;
                    justify-content: center;
                    color: #3582CD;
                    font-family: Roboto;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    margin-bottom: 16px;
                    line-height: normal;
                }

                .box_top_info {
                    display: flex;
                    flex-direction: column;
                    width: 590px;
                    align-items: flex-start;

                    .form_gr {
                        width: 100%;
                        float: left;
                        margin-bottom: -16px;

                        .form_reg {
                            width: 100%;
                            float: left;
                            margin-bottom: 16px;
                            position: relative;

                            .prev_icon {
                                position: absolute;
                                left: 10px;
                                top: 10px;
                            }

                            .icon_input {
                                cursor: pointer;
                                position: absolute;
                                top: 10px;
                                right: 10px;
                            }

                            .icon_input_show {
                                cursor: pointer;
                                position: absolute;
                                top: 15px;
                                right: 10px;
                            }

                            .form_title {
                                color: #333;
                                font-family: Roboto;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                            }

                            p {
                                color: red;
                            }

                            p::before {
                                display: inline;
                                content: '⚠ ';
                            }

                            label {
                                font-size: 16px;
                                line-height: 18px;
                                text-align: left;
                                float: left;
                                width: 100%;
                                margin: 0 0 6px 0;
                                font-family: Roboto-Medium, sans-serif;
                                color: #616264;

                                .red_star {
                                    color: red;
                                }
                            }

                            input[type='text'],
                            input[type='password'] {
                                width: 100%;
                                float: left;
                                box-sizing: border-box;
                                height: 41px;
                                border-radius: 4px;
                                border: 1px solid #dad8d3;
                                padding: 14px 10px 14px 20px;
                            }

                        }

                        .list_img {
                            display: flex;
                            width: 100%;

                            .list_img_upload {
                                margin-right: 12px;
                                display: flex;
                                flex-wrap: wrap;

                                .box_item_img {
                                    width: 178px;
                                    height: 109px;
                                    margin: 4px;
                                    position: relative;

                                    .box_del {
                                        position: absolute;
                                        display: inline-flex;
                                        padding: 4px;
                                        align-items: flex-start;
                                        gap: 10px;
                                        border-radius: 40px;
                                        background: #D4E3FF;
                                        right: 4px;
                                        top: 4px;
                                        cursor: pointer;
                                    }
                                }
                            }

                            .box_img {
                                margin-bottom: 20px;
                                cursor: pointer;

                                svg {
                                    padding: 38px;
                                    border-radius: 4px;
                                    border: 1px solid #C4C4C4;
                                    background: #F7F7F7;
                                }
                            }

                        }

                        .text_error {
                            margin: 12px;
                            font-size: 14px;
                            color: rgb(236, 93, 93);
                            font-style: italic;
                        }



                        .form_reg.reg_left_50 {
                            width: 49%;
                            margin-right: 2%;
                        }

                        .form_reg.reg_right_50 {
                            width: 49%;
                        }
                    }

                }

                .box_confirm {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;

                    .forgot_pass {
                        color: #333;
                        text-align: center;
                        font-family: Roboto;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        /* 30px */
                        width: 465px;
                        margin: 24px 0;
                    }

                    .btn_confirm {
                        display: flex;
                        padding: 12px 50px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        color: #FFF;
                        font-family: Roboto;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        border-radius: 4px;
                        background: #F8971C;
                        outline: none;
                        border: none;
                    }

                    .btn_content {
                        display: flex;
                        align-items: flex-start;
                        gap: 8px;

                        p {
                            color: #000;
                            font-family: Roboto;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        a {
                            color: #3582CD;
                            font-family: Roboto;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    .wrapper_layout {
        height: 100vh;

        .wrapper_body {
            background-image: url("/images/authorization/bg-regis-1920.png");
        }
    }
}

@media (max-width: 1365px) {
    .wrapper_layout {
        height: 100%;

        .wrapper_body {
            background-image: url("/images/authorization/bg-regis-1336.png");

            .wrapper_content {
                flex-direction: column;

                .container_left {
                    width: 100%;
                    padding: 10px 0px;
                }

                .container_right {
                    .title_right {
                        padding: 16px 0px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper_layout {
        .wrapper_body {
            background-image: url("/images/authorization/bg-regis-768.png");

            .wrapper_content {
                .container_right {
                    .title_right {
                        width: unset;
                        line-height: 150%;
                        font-weight: 500;
                    }

                    .box_top_info {
                        width: 414px;

                        .form_gr {
                            .form_reg.reg_left_50 {
                                width: 100%;
                                margin-right: 0%;
                            }

                            .form_reg.reg_right_50 {
                                width: 100%;
                            }
                        }

                    }

                    .box_confirm {
                        .forgot_pass {
                            width: 414px;
                        }
                    }
                }
            }
        }
    }
}