#form-cv {
  font-size: 13px !important;
}

.box-01 {
  font-size: 13px !important;
}
#cv-top h2 {
  font-size: 20px !important;
}
#cv-top h1 {
  font-size: 30px !important;
}
#cv-content .head {
  font-size: 17px !important;
}
#cv-right .h3 {
  font-size: 17px !important;
}
#cv-content h3 {
  font-size: 13px !important;
}
