.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;

    .input {
        display: flex;

        p {
            white-space: nowrap;
            white-space: nowrap;
            width: 50%;
            align-items: center;
            text-align: flex-end;
            margin-right: 10px;
            display: flex;
        }
        
    }

    .btns_add {
        display: flex;
        justify-content: center;
        gap: 30px;

        button {
            width: 30%;
            cursor: pointer;

        }
    }
}

