@media (max-width: 767px) {
    .box_blog_9 {
        display: flex;
        width: 382px;
        padding: 16px 16px 16px 16px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        box-sizing: border-box;

        border-radius: 12px;
        background: #FFF;

        .box_header {
            display: flex;
            width: 308px;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            justify-content: center;

            >span {
                color: #203656;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 800;
                line-height: 150%;
            }
        }

        .box_blog_body_2 {
            display: flex;
            gap: 10px;
            flex-direction: column;

            .box_item_1 {
                display: flex;
                width: 352px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .line {
                    width: 352px;
                    height: 2px;
                    background: linear-gradient(270deg, #EBEBEB 0%, rgba(0, 0, 0, 0.00) 100%);
                }

                .box_body {
                    display: flex;
                    width: 352px;
                    align-items: flex-start;
                    gap: 16px;

                    .image_item_3 {
                        width: 56px;
                        height: 66px;
                        border-radius: 4px;
                    }

                    .info_list {
                        display: flex;
                        width: 352px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1px;

                        .time {
                            color: #8F9BAD;

                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }


                        .title {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            max-width: 352px;
                            color: #203656;

                            font-family: Roboto;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 150%;
                        }
                    }
                }
            }
        }

        .button_see_all {
            display: flex;
            padding: 10px 40px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-sizing: border-box;
            outline: none;
            border: none;

            border-radius: 40px;
            background: #3582CD;

            color: #FFF;

            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .box_blog_9 {
        display: flex;
        width: 720px;
        padding: 16px 16px 0px 16px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        box-sizing: border-box;

        border-radius: 12px;
        background: #FFF;

        .box_header {
            display: flex;
            width: 308px;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            justify-content: center;

            >span {
                color: #203656;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 150%;
            }
        }

        .box_blog_body_2 {
            display: flex;
            gap: 10px;
            flex-direction: column;
            padding-bottom: 15px;

            .box_item_1 {
                display: flex;
                width: 688px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .line {
                    width: 680px;
                    height: 2px;
                    background: linear-gradient(270deg, #EBEBEB 0%, rgba(0, 0, 0, 0.00) 100%);
                }

                .box_body {
                    display: flex;
                    width: 688px;
                    align-items: flex-start;
                    gap: 16px;

                    .image_item_3 {
                        width: 56px;
                        height: 60px;
                        border-radius: 4px;
                    }

                    .info_list {
                        display: flex;
                        width: 615px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1px;

                        .time {
                            color: #8F9BAD;

                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }


                        .title {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            max-width: 615px;
                            color: #203656;

                            font-family: Roboto;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 150%;
                        }
                    }
                }
            }
        }

        .button_see_all {
            display: flex;
            padding: 10px 40px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-sizing: border-box;
            outline: none;
            border: none;

            border-radius: 40px;
            background: #3582CD;

            color: #FFF;

            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .box_blog_9 {
        display: flex;
        width: 976px;
        padding: 16px 16px 0px 16px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        box-sizing: border-box;

        border-radius: 12px;
        background: #FFF;

        .box_header {
            display: flex;
            width: 308px;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            justify-content: center;

            >span {
                color: #203656;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 150%;
            }
        }

        .box_blog_body_2 {
            display: flex;
            gap: 10px;
            flex-direction: column;
            padding-bottom: 15px;

            .box_item_1 {
                display: flex;
                width: 944px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .line {
                    width: 940px;
                    height: 2px;
                    background: linear-gradient(270deg, #EBEBEB 0%, rgba(0, 0, 0, 0.00) 100%);
                }

                .box_body {
                    display: flex;
                    width: 944px;
                    align-items: flex-start;
                    gap: 16px;

                    .image_item_3 {
                        width: 54px;
                        height: 60px;
                        border-radius: 4px;
                    }

                    .info_list {
                        display: flex;
                        width: 874px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1px;

                        .time {
                            color: #8F9BAD;

                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }


                        .title {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            max-width: 632px;
                            color: #203656;

                            font-family: Roboto;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 150%;
                        }
                    }
                }
            }
        }

        .button_see_all {
            display: flex;
            padding: 10px 40px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-sizing: border-box;
            outline: none;
            border: none;

            border-radius: 40px;
            background: #3582CD;

            color: #FFF;

            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
        }
    }
}

@media (min-width: 1366px) and (max-width: 1919px) {
    .box_blog_9 {
        display: flex;
        width: 340px;
        padding: 16px 16px 0px 16px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        box-sizing: border-box;

        border-radius: 12px;
        background: #FFF;

        .box_header {
            display: flex;
            width: 308px;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            justify-content: center;

            >span {
                color: #203656;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 150%;
            }
        }

        .box_blog_body_2 {
            display: flex;
            gap: 10px;
            flex-direction: column;
            padding-bottom: 15px;

            .box_item_1 {
                display: flex;
                width: 308px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .line {
                    width: 297px;
                    height: 2px;
                    background: linear-gradient(270deg, #EBEBEB 0%, rgba(0, 0, 0, 0.00) 100%);
                }

                .box_body {
                    display: flex;
                    width: 308px;
                    align-items: flex-start;
                    gap: 16px;

                    .image_item_3 {
                        width: 60px;
                        height: 69px;
                        border-radius: 4px;
                    }

                    .info_list {
                        display: flex;
                        width: 226px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1px;

                        .time {
                            color: #8F9BAD;

                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }


                        .title {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            max-width: 226px;
                            color: #203656;

                            font-family: Roboto;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 150%;
                        }
                    }
                }
            }
        }

        .button_see_all {
            display: flex;
            padding: 10px 40px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-sizing: border-box;
            outline: none;
            border: none;

            border-radius: 40px;
            background: #3582CD;

            color: #FFF;

            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
        }
    }
}

@media (min-width: 1920px) {
    .box_blog_9 {
        display: flex;
        width: 340px;
        padding: 16px 16px 0px 16px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        box-sizing: border-box;

        border-radius: 12px;
        background: #FFF;

        .box_header {
            display: flex;
            width: 308px;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            justify-content: center;

            >span {
                color: #203656;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 150%;
            }
        }

        .box_blog_body_2 {
            display: flex;
            gap: 10px;
            flex-direction: column;
            padding-bottom: 15px;

            .box_item_1 {
                display: flex;
                width: 308px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .line {
                    width: 297px;
                    height: 2px;
                    background: linear-gradient(270deg, #EBEBEB 0%, rgba(0, 0, 0, 0.00) 100%);
                }

                .box_body {
                    display: flex;
                    width: 308px;
                    align-items: flex-start;
                    gap: 16px;

                    .image_item_3 {
                        width: 60px;
                        height: 69px;
                        border-radius: 4px;
                    }

                    .info_list {
                        display: flex;
                        width: 226px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1px;

                        .time {
                            color: #8F9BAD;

                            font-family: Roboto;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }


                        .title {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            max-width: 226px;
                            color: #203656;

                            font-family: Roboto;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 150%;
                        }
                    }
                }
            }
        }

        .button_see_all {
            display: flex;
            padding: 10px 40px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-sizing: border-box;
            outline: none;
            border: none;

            border-radius: 40px;
            background: #3582CD;

            color: #FFF;

            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            cursor: pointer;
        }
    }
}